@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


/* ---- Primitives ---- */



html {

  /* Colors */
  --fg: #111111;
  --bg: #FDFAFE;
  --ac: #8833ee;

  /* Base Unit */
  --base: 4px;

  /* Font Sizes */
  --XL: calc(10 * var(--base));
  --L:  calc(7 * var(--base));
  --M:  calc(5 * var(--base));
  --S:  calc(4 * var(--base));


  /* Spacing */
  --pad: calc(6 * var(--base));
  --pad-half: calc(var(--pad) / 2);


  /* Cards */
  --radius: calc(3 * var(--base));
  --border: calc(1 * var(--base));

  /* Actionables */
  --glow: 0 0 var(--base) var(--base) var(--ac);

}

/* Desktop Responsiveness */
@media (min-width: 750px) {
  html {
    --base: 5px;
  }
}



/* ---- Resets ---- */



body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
}



/* ---- Components ---- */



/* Spacing */

h1, h2, p, img, .card, ul, ol {
  display: block;
  padding-bottom: var(--pad);
}

h3 {
  padding-bottom: var(--pad-half);
}

.pt {
  padding-top: var(--pad);
}

section#apps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: calc(-1 * var(--pad-half));
}

section#blog {

  width: 100%;
  max-width: 650px;
  margin: auto;
}


/* Body */

body {
  width: 90%;
  max-width: 900px;
  margin: auto;

  padding: var(--pad) 0;
  margin-bottom: 30vh;

  font-family: 'DM Sans', sans-serif;
  font-size: var(--S);
  letter-spacing: 0.05em;
  background-color: var(--bg);
  color: var(--fg);
}


main {
  display: flex;
  flex-flow: row wrap;
}

/* Logo */

img#logo {
  width: calc(35 * var(--base));
  display: block;
  margin: auto;
}

img#logo.small {
  width: calc(25 * var(--base));
  margin: 0;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

header h1 {
  padding: 0 0 0 var(--pad);
  line-height: 100%;
}


/* Typography */

h1 {
  font-size: var(--XL);
  line-height: 120%;


  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--ac);
}


h2 {
  font-size: var(--L);
  line-height: 120%;


  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: calc(var(--pad));
  padding-bottom: calc(2 * var(--pad));
}

article {
  max-width: 680px;
  width: 90%;
  margin: auto;
}

h3 {
  font-size: var(--M);
  line-height: 120%;

  font-weight: bold;
  margin-top: 15px;
}

.button {
  font-size: var(--M);
}

p {
  font-size: var(--S);
  line-height: 150%;
}

p.big {
  font-size: var(--M);
}

a {
  color: var(--ac);
  font-weight: bold;
  text-decoration: none;
}

.centered, .center {
  text-align: center;
}


/* Cards */

.card {
  display: block;
  border: var(--border) solid var(--ac);
  border-radius: var(--radius);
  padding: var(--pad);

  min-width: 300px;
  max-width: 50%;
  flex-grow: 1;
  flex-basis: 40%;
  box-sizing: border-box;
  margin-bottom: var(--pad);
  margin: var(--pad-half);
}

.card p:last-child {
  padding-bottom: 0;
}


/* Unorderd Lists */

ul.clean {
  list-style-type: none;
  padding-left: 0;
}

ul.clean li {
  padding-bottom: var(--pad-half);
}

ul.clean li:last-child {
  padding-bottom: 0;
}


/* Horizontal Rule */

hr {
  display: block;
  width: 100%;
  height: var(--base);
  background-color: var(--ac);
  margin-top: var(--pad);
  margin-bottom: calc(2 * var(--pad));
  border-radius: var(--pad);
}
